#container {
  margin: auto 25px !important;
  width: auto !important;
}

#catalog {
  float: none !important;
  margin-right: 0 !important;
  width: auto !important;
}

#nav_container {
  height: 20px !important;
  margin-left:-25px !important;
  float: left !important;
  clear: none !important;
}

#nav_container ul.tabs {
  height: 22px !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  margin-left: 42px !important;
}

#nav_container ul.tabs li.tab span.dropshadow {
  height: 32px !important;
}

#nav_container ul.tabs li.tab a.title {
  height: 22px !important;
  overflow: hidden !important;
  padding: 10px 0 0 0 !important;
}

#nav_container ul.tabls li.tab a.title span {
  margin-top: 15px !important;
}

#carousel-nav-top-bar {
  float: right !important;
  clear: none !important;
  margin-left: -25px !important;
  margin-right: -15px !important;
}

div.account_dropdown {
  position: absolute;
  top: 7px;
  right: 85px;
}

div.account_dropdown p {
  color: #EEE !important;
  font-size: 12px !important;
  font-weight: bold !important;
  cursor: pointer !important;
  padding: 0 7px !important;
  -webkit-user-select: none;
}

div.account_dropdown p:hover {
  text-decoration: underline !important;
}

div.account_dropdown p small {
  font-size: 0.6em !important;
  line-height: 0 !important;
}

div.account_dropdown div.items {
  display: none;
  margin: -6px -3px 0 -3px !important;
  background-color: #222 !important;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: 0px 4px 6px -4px #000 inset;
  padding: 3px;
}

div.account_dropdown div.items a {
  display: block !important;
  padding: 7px !important;
}

#carousel-notifications-container {
  display: none;
}

#gilt_logo {
  width: 60px !important;
  height: 32px !important;
  margin: 0 !important;
  padding: 0 !important;
  background: url(img/gilt-logo-trans.png) top center no-repeat !important;
  position: relative !important;
}

#carousel-nav-top-bar a {
  display: none;
}

#carousel-nav-cart {
  display: block !important;
}

#scroll_bg {
  height: 32px !important;
}

div.c_wrapper, div.a_wrapper {
  background: #000 !important;
}

#c_sale #a_product div.breadcrumb {
  display: none !important;
}

#c_sale #a_index #main {
  width: 931px !important;
  margin: auto !important;
}

#product_detail h4 {
  display: none !important;
}

#product_detail div.details {
  float: left !important;
}

#photo {
  width: 100% !important;
  height: 100% !important;
}

#main {
  clear: both !important;
}

#sale_leftnav {
  z-index: 20;
  margin-top: 55px !important;
}

#catalog.active {
  padding-left: 300px !important;
}

#catalog.active:after {
  clear: both;
  content: '.';
  display: block;
  height: 0px;
  line-height: 0;
  visibility: hidden;
}

#catalog.active > div:not(.product) {
  float: left !important;
  padding-left: 25px !important;
  padding-top: 10px !important;
}

#catalog.active #sale_brand_title {
  display: none;
}

#catalog h2.brand_title {
  padding: 0 0 5px 0 !important;
  border-bottom: 2px solid #555 !important;
  color: #FFF !important;
  margin: 0 20px 20px 0 !important;
  clear: both !important;
}

/* Women-only hack */
body.women #main {
  padding-top: 10px !important;
}

/* Some stuff is still fixed width */
#c_account #main, #c_blog #main, #c_return #main, #c_wait_list #main, #c_personal_invitation_link #main, #c_nickname #main, #c_address #main, #c_credit_card #main, #c_support #main, #c_blackbird #main, body.basic #container {
  width: 921px !important;
  margin: auto !important;
}

/* Footer */
#bottom_container {
  width: auto !important;
  margin: 0 20px !important;
}

#footer {
  line-height: 1.8em !important;
  text-align: center !imporatnt;
  width: auto !important;
  max-width: 1005px !important;
  margin: 0 auto !important;
}
