<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>combined_multi_brand</string>
		<key>Title</key>
		<string>Show multi-brand sales on one page</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>quick_inventory</string>
		<key>Title</key>
		<string>Show quick inventory levels on sale page</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
